@media screen and (max-width: 750px) {
    .divChecks{
        display:none;
    }

    .divShowChecks{
        display: block;
    }
}

@media screen and (min-width: 750px) {
    .divShowChecks{
        display:none;
    }
}